<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="nav-icon"><img src="{{ asset('images/clap.png') }}"></span>
            {{ 'app.title' | trans }}
        </a>
    </div>
</nav>